.banner {
  background-color: Var (--azul-degrade);
  color: Var (--branco);
  text-align: center;
  padding:2.5em 2em;
}

.banner-titulo {
  font-size:18px;
  font-weight: 700;
}

banner-titulo {
  font-weight: 500;
  margin: 1em 0;
}

.banner-pesquisa {
  background-color: transparent;
  border: 1px solid Var(--branco);
  color: Var (--branco);
  border-raudius: 24px;
  padding:1em;
  width: 100%;
}

.banner-pesquisa::placeholder {
  font-family: Var (--fonte-principal);
  font-size:14px;
  font-wight:400;
  text-align:center;
  color: Var (--branco);
  background: url("/img/Lupa.svg")no-repeat;
  background:1em;
}

